body{
    background-color:#000;
    color:#fff;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}


h1{
    font-size:9em;
}
pre{
   width:98%;
   border-radius: 10px;
   background-color:#2d2d2d;

   
}
code{
    
    background-color:#2d2d2d;
}
div{
    margin-top:10px;
}

table{

    width: 100%;
    border-spacing: 0;
}


th, td,tbody,thead {
    border:1px solid #3b434b;
    border-spacing: 0;
    padding: 6px 13px;

}
td{
    text-align:center;
}
.contenedor{
    border-style:solid;

  
}

.publications {
    color:white;
    text-decoration: none;
}
#navegationVar {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(6, 4, 29);

}
#navegationVar li {
    float: left;
}
#navegationVar li a {
    
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}

#navegationVar li a:hover {
    
    background-color: #111;
    color:white;
}
#body{
    border-style:none;
}