<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
  
    <link rel="stylesheet" href="/public/style/style.css">
    <script src="/public/script/getPublication.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>
<body>
    <ul id = "navegationVar">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
        <a href="https://twitter.com/ranon_rat"> 
            <img width="30" src="https://ranon-rat.herokuapp.com/image/twitter.png"></a>
        </li>
        <li><a href="https://discord.gg/e52RFh7Cg2">
            <img width="30" src="https://ranon-rat.herokuapp.com/image/discord.png" >
        </a>
        </li>
<li>
    <a href="https://www.instagram.com/ranon_rat/">
        <img width="30" src="https://ranon-rat.herokuapp.com/image/instagram.png">
    </a>
</li>
<li>
     <a href="https://github.com/ranon-rat">
        <img width="30" src="https://ranon-rat.herokuapp.com/image/github.png"></a>
    </li></ul>
    <div id="inicio">
         <h1 >
            blog in golang
            <img  id="gopher" src="https://camo.githubusercontent.com/82a5f91b3c5f8ff699f9a79ef46a81b3c7800d7e8e63651b1a75810f24106b0e/68747470733a2f2f63646e2e646973636f72646170702e636f6d2f656d6f6a69732f3739353534343133343431363732383036352e676966">
       

         </h1>

        <h2>
            this is my blog
        </h2>
    </div>
  
    <div id = "publications" > </div>
    <div id="pagePublications"></div>
    
</body>
</html>