<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
    
    <link rel="stylesheet" href="/public/style/prism.css">
    <link rel="stylesheet" href="/public/style/style.css">
    <script src="/public/script/prism.js"></script>
    <script src="/public/script/post.js"></script>
</head>
<body>
  <h2>
      well here we go 
  </h2>

    <h2>
        title
    </h2> 
    <div class ="contenedor" id = "titulo" contenteditable="true"></div>
    <h2>
        
miniature(here you need to upload a url )

    </h2>
    <div class ="contenedor" id= "mineatura" contenteditable="true"></div>
    <h2>
        body
    </h2>
    <pre class=" language-md">
    <div class=" language-md" id="body" contenteditable="true">
    </div>
    </pre>

  <p>
      <button onclick="sendDocument()"> send</button>
  </p>
    
</body>
</html>